{{#if disc_search_results}}
<thead>
    <tr>
        <th>id</th>
        <th>Pochette</th>
        <th>title</th>
        <th>type</th>
        <th>artiste</th>
        <th></th>
    </tr>
</thead>
{{#each disc_search_results}}
<tr>
    <td>{{this.id}}</td>
    <td><img src="{{this.cover_medium}}" /></td>
    <td>{{this.title}}</td>
    <td>{{this.type}}</td>
    <td>{{this.artist.name}}<br><img src="{{this.artist.picture_small}}"></td>
    {{#if (ne this.is_owned true)}}
    <td>
        <button hx-post="/api/owned-discs" hx-vals='{ "title" : "{{this.title}}",  "cover" : "{{this.cover_medium}}", "artist" : {
        "name" : "{{this.artist.name}}", "picture" : "{{this.artist.picture_small}}" }}' hx-ext="json-enc"
            hx-indicator=".ajout-en-cours"><i class="fa-regular fa-plus"></i></button>
        <span aria-busy="true" class="ajout-en-cours htmx-indicator"></span>
        <button class="pico-background-indigo-600"><i class="fa-solid fa-thumbtack"></i></button>

    </td>
    {{else}}
    <td>owned</td>
    {{/if}}
</tr>
{{/each}}
{{/if}}